@model IList<TubsWeb.ViewModels.Gen2SummaryViewModel>

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), ViewBag.SpcTripNumber ?? "This Trip"),
        Tuple.Create("#", "GEN-2 Events")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@{
    // TODO Revise title
    ViewBag.Title = "List of GEN-2 Interactions";
}

@if (@Model.Count < 1)
{
    <text>No GEN-2 events recorded for this trip.</text>
}
else 
{
<table class="table table-bordered table-condensed table-striped" id="gen2Table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @* TODO:  I'm uncertain on page unless it's recorded in the database *@
            <th>Page</th>
            <th>Date</th>
            <th>Species Code</th>
            <th>Interaction Type</th>            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    { 
        <tr>
            <td>
                @{ var detailTarget = Url.Action("Index", "Gen2", new { TripId = ViewBag.TripId, PageNumber = item.Index + 1 }); }
                @{ var editTarget = Url.Action("Edit", "Gen2", new { TripId = ViewBag.TripId, PageNumber = item.Index + 1 }); }
                <a href="@detailTarget"><i class="icon-list-alt icon-large" title="Details" rel="tooltip"></i></a>
                @if(!ViewBag.IsReadOnly)
                {
                    <text> | </text><a href="@editTarget"><i class="icon-edit icon-large" title="Edit" rel="tooltip"></i></a> 
                }               
            </td>
            <td>@item.Data.PageNumber</td>
            <td>@Html.DisplayFor(i => item.Data.ShipsDate)</td>
            <td>@item.Data.SpeciesCode</td>
            <td>@item.Data.InteractionType</td>            
        </tr>
    }
    </tbody>
</table>
}

<div id="addItemButton" class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Add GEN-2&nbsp<span class="caret"></span></a>
    <ul class="dropdown-menu">
        @{ 
            var addLandedUrl = Url.Action("AddLanded", new { tripId = ViewBag.TripId });
            var addGearUrl = Url.Action("AddGear", new { tripId = ViewBag.TripId });
            var addSightingUrl = Url.Action("AddSighting", new { tripId = ViewBag.TripId });
        }
        <li><a href='@addLandedUrl'>Landed On Deck</a></li>
        <li><a href='@addGearUrl'>Interacted With Gear</a></li>
        <li><a href='@addSightingUrl'>Sighted Only</a></li>
    </ul>
</div>

<ul id="tlyPageGuide" data-tourtitle="GEN-2 Event Information">
    <li class="tlypageguide_left" data-tourtarget=".icon-list-alt:first">
        <div>
            Click here to view details of this GEN-2 event.
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".icon-edit:first">
        <div>
            Click here to edit details of this GEN-2 event.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#addItemButton">
        <div>
            Click here to add a new GEN-2.  Select the interaction type from the dropdown.
        </div>
    </li>
</ul>

@section AdditionalScripts {
    <script>
        $(document).ready(function () {
            // PageGuide initialization
            tl.pg.init();
        });
    </script>
}
