@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities
@using Spc.Ofp.Tubs.DAL.Common

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<fieldset>
    <legend>Interactions with Species of Special Interest</legend>
    @{ Html.RenderPartial("_Interactions", Model.Interactions); }
</fieldset>

@if (!Model.IsReadOnly)
{
    @* Passing the argument to 'done' requires the String.Format call *@
    @* http://stackoverflow.com/questions/6550290/ajaxoptions-onsuccess-callback-with-parameter-not-working *@
    var options = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "gen2Interactions", OnSuccess = String.Format("clearForm('#{0}')", "addInteractionForm") };
    using (Ajax.BeginForm("AddInteraction", null, options, new { id = "addInteractionForm" }))
    {
        @Html.ValidationSummary(false)
        <fieldset>
            <legend>Add Interaction</legend>
            @{ var interaction = new SpecialSpeciesInteraction(); }
            @Html.EditorFor(i => interaction)
            <p>
                <input type="Submit" value="Add" style="font-size: 1.0em;"/>
                <input type="Reset" value="Cancel" style="font-size: 1.0em;"/>
            </p>
        </fieldset>
    }

}

<p>
<a href='@Url.RouteUrl("TripDetails", new { tripId = ViewBag.TripId })'>Back to Trip</a>
</p>

@{ Html.RenderPartial("_DateTimePickerInit"); }
