@model Spc.Ofp.Tubs.DAL.Entities.PurseSeineVesselAttributes
@using Spc.Ofp.Tubs.DAL.Common

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.Trip.SpcTripNumber ?? "This Trip"),
        Tuple.Create("#", "Auxiliaries")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (null == Model)
{
    <p>
        No auxiliaries recorded for this trip.
    </p>
}
else
{
    <fieldset>
        <legend>Auxiliary Boats</legend>
        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.SpeedboatCount)</div>
            <div class="span2">@Html.DisplayFor(m => m.SpeedboatCount)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.AuxiliaryBoatCount)</div>
            <div class="span2">@Html.DisplayFor(m => m.AuxiliaryBoatCount)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HasTenderBoats)</div>
            <div class="span2">@Html.DisplayFor(m => m.HasTenderBoats)</div>             
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.SkiffMake)</div>
            <div class="span2">
                @Html.DisplayFor(m => m.SkiffMake)
                @if (Model.SkiffPower.HasValue)
                {
                    @Html.DisplayFor(m => m.SkiffPower) <text>hp</text>
                }
            </div>             
        </div>
    </fieldset>

    <fieldset>
        <legend>Helicopter</legend>
        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterMake)</div>
            <div class="span2">@Html.DisplayFor(m => m.HelicopterMake)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterModel)</div>
            <div class="span2">@Html.DisplayFor(m => m.HelicopterModel)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterRegistrationNumber)</div>
            <div class="span2">@Html.DisplayFor(m => m.HelicopterRegistrationNumber)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterRange)</div>
            <div class="span2">
                @Html.DisplayFor(m => m.HelicopterRange) 
                @if (Model.HelicopterRange.HasValue)
                {
                    @Html.DisplayFor(m => m.HelicopterRangeUnit.GetDescription())
                }
            </div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterColor)</div>
            <div class="span2">@Html.DisplayFor(m => m.HelicopterColor)</div>
        </div>

        <div class="row">
            <div class="span4">@Html.LabelFor(m => m.HelicopterServiceOtherCount)</div>
            <div class="span2">@Html.DisplayFor(m => m.HelicopterServiceOtherCount)</div>
        </div>
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", "Auxiliaries", new { tripId = ViewBag.TripId }, null)
    </p>
}