@model TubsWeb.ViewModels.PageCountViewModel

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.TripNumber ?? "This Trip"),
        Tuple.Create("#", "Page Counts")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Form</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
    @if (Model is TubsWeb.ViewModels.PurseSeinePageCountViewModel)
    {
        var pmodel = Model as TubsWeb.ViewModels.PurseSeinePageCountViewModel;
        <tr>
            <td>PS-1</td>
            <td>@Html.DisplayFor(m => pmodel.Ps1Count)</td>
        </tr>
        <tr>
            <td>PS-2</td>
            <td>@Html.DisplayFor(m => pmodel.Ps2Count)</td>
        </tr>
        <tr>
            <td>PS-3</td>
            <td>@Html.DisplayFor(m => pmodel.Ps3Count)</td>
        </tr>
        <tr>
            <td>PS-4</td>
            <td>@Html.DisplayFor(m => pmodel.Ps4Count)</td>
        </tr>
        <tr>
            <td>PS-5</td>
            <td>@Html.DisplayFor(m => pmodel.Ps5Count)</td>
        </tr>
    }
        <tr>
            <td>GEN-1</td>
            <td>@Html.DisplayFor(m => Model.Gen1Count)</td>
        </tr>
        <tr>
            <td>GEN-2</td>
            <td>@Html.DisplayFor(m => Model.Gen2Count)</td>
        </tr>
        <tr>
            <td>GEN-3</td>
            <td>@Html.DisplayFor(m => Model.Gen3Count)</td>
        </tr>
    @if (Model is TubsWeb.ViewModels.PurseSeinePageCountViewModel)
    {
        var pmodel = Model as TubsWeb.ViewModels.PurseSeinePageCountViewModel;
        <tr>
            <td>GEN-5</td>
            <td>@Html.DisplayFor(m => pmodel.Gen5Count)</td>
        </tr>
    }
        <tr>
            <td>GEN-6</td>
            <td>@Html.DisplayFor(m => Model.Gen6Count)</td>
        </tr>
    
    </tbody>
</table>
