@model TubsWeb.ViewModels.PurseSeineSetViewModel

@{
    bool IncludeLegacyColumn = Model.VersionNumber != 2009;
}


<table class="table table-bordered table-condensed table-striped">
    <caption>Target Species Totals</caption>
    <thead>
        <tr>
            <th class="span3">&nbsp;</th>
            <th>SKJ</th>
            <th>YFT</th>
            <th>BET</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>In Set</strong></td>
            <td>@Html.DisplayFor(m => Model.ContainsSkipjack)</td>
            <td>@Html.DisplayFor(m => Model.ContainsYellowfin)</td>
            <td>@Html.DisplayFor(m => Model.ContainsBigeye)</td>
        </tr>
        <tr>
            <td><strong>Approximate %</strong></td>
            <td>@Html.DisplayFor(m => Model.SkipjackPercentage)</td>
            <td>@Html.DisplayFor(m => Model.YellowfinPercentage)</td>
            <td>@Html.DisplayFor(m => Model.BigeyePercentage)</td>
        </tr>
        <tr>
            <td><strong>Observed Weight</strong></td>
            <td>@Html.DisplayFor(m => Model.TonsOfSkipjackObserved)</td>
            <td>@Html.DisplayFor(m => Model.TonsOfYellowfinObserved)</td>
            <td>@Html.DisplayFor(m => Model.TonsOfBigeyeObserved)</td>
        </tr>
    </tbody>
</table>