@model TubsWeb.Models.PurseSeineSetViewModel

<fieldset>
    <legend>Cumulative Catch Onboard</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Source</th>
                <th>Onboard Total Before Set</th>
                <th>Total Tonnage Retained This Set</th>
                <th>New Onboard Total</th>
                <th>Total Tuna Catch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Observer</strong></td>
                <td>
                    @Html.TextBoxFor(
                    m => Model.WeightOnboardObserved, 
                    new {
                        data_bind = "value: WeightOnboardObserved", 
                        @class = "input-small" })
                </td>
                <td>
                    @Html.TextBoxFor(
                        m => Model.RetainedTonnageObserved, 
                        new {
                            data_bind = "value: RetainedTonnageObserved",
                            @class = "input-small" })
                </td>
                <td>
                    @Html.TextBoxFor(
                        m => Model.NewOnboardTotalObserved, 
                        new {
                            data_bind = "value: NewOnboardTotalObserved",
                            @class = "input-small" })
                </td>
                <td>
                    @Html.TextBoxFor(
                        m => Model.TonsOfTunaObserved,
                        new {
                            data_bind = "value: TonsOfTunaObserved",
                            @class = "input-small" })
                </td>
            </tr>
            <tr>
                <td><strong>Vessel</strong></td>
                <td>
                    @Html.TextBoxFor(
                    m => Model.WeightOnboardFromLog, 
                    new {
                        data_bind = "value: WeightOnboardFromLog", 
                        @class = "input-small" })
                </td>
                <td>
                    @Html.TextBoxFor(
                        m => Model.RetainedTonnageFromLog, 
                        new {
                            data_bind = "value: RetainedTonnageFromLog",
                            @class = "input-small" })
                </td>
                <td>
                    @Html.TextBoxFor(
                        m => Model.NewOnboardTotalFromLog, 
                        new {
                            data_bind = "value: NewOnboardTotalFromLog",
                            @class = "input-small" })
                    @* TODO OnlyFromThisSet *@
                </td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>
</fieldset>

