@model TubsWeb.ViewModels.PurseSeineSetViewModel

<div class="row">
    <div class="span2">
        <label><strong>Logbook Date</strong></label>
        @Html.DisplayFor(m => m.LogbookDate, new { format = "dd/MM/yy" })
    </div>
</div>
<div class="row">
    <div class="span2">
        @Model.LogbookTime
    </div>
</div>
<hr />

<div class="row">
    <div class="span2">
        <label><strong>Skiff Off</strong></label>
        @Html.DisplayFor(m => m.SkiffOff, new { format = "dd/MM/yy" })
    </div>
    <div class="span2">
        <label><strong>Winch On</strong></label>
        @Html.DisplayFor(m => m.WinchOnDateOnly, new { format = "dd/MM/yy" })
    </div>
    <div class="span2">
        <label><strong>Rings Up</strong></label>
        @Html.DisplayFor(m => m.RingsUpDateOnly, new { format = "dd/MM/yy" })
    </div>
    <div class="span2">
        <label><strong>Begin Brailing</strong></label>
        @Html.DisplayFor(m => m.BeginBrailingDateOnly, new { format = "dd/MM/yy" })
    </div>
    <div class="span2">
        <label><strong>End Brailing</strong></label>
        @Html.DisplayFor(m => m.EndBrailingDateOnly, new { format = "dd/MM/yy" })
    </div>
    <div class="span2">
        <label><strong>End Of Set</strong></label>
        @Html.DisplayFor(m => m.EndOfSetDateOnly, new { format = "dd/MM/yy" })
    </div>
</div>
@* Times *@
<div class="row">
    <div class="span2">
        @Model.SkiffOffTimeOnly
    </div>
    <div class="span2">
        @Model.WinchOnTimeOnly
    </div>
    <div class="span2">
        @Model.RingsUpTimeOnly
    </div>
    <div class="span2">
        @Model.BeginBrailingTimeOnly
    </div>
    <div class="span2">
        @Model.EndBrailingTimeOnly
    </div>
    <div class="span2">
        @Model.EndOfSetTimeOnly
    </div>
</div>