@model TubsWeb.Models.ElectronicsViewModel.DeviceModel

<tr>
    <td>@Model.DeviceName</td>
    <td>@Model.Installed</td>
    <td>@Model.Usage</td>
    <td>@Model.Make</td>
    <td>@Model.Model</td>
    <td>@Model.Comments</td>
</tr>
