@model TubsWeb.Models.ElectronicsViewModel.DeviceModel

<tr>
    <td>@Html.DisplayFor(m => Model.DeviceName)</td>
    <td>@Html.DisplayFor(m => Model.Installed)</td>
    <td>@Html.DisplayFor(m => Model.Usage)</td>
    <td>@Html.DisplayFor(m => Model.Make)</td>
    <td>@Html.DisplayFor(m => Model.Model)</td>
    <td>@Html.DisplayFor(m => Model.Comments)</td>
</tr>
