@model Spc.Ofp.Tubs.DAL.Entities.PurseSeineGear

<fieldset>
    <legend>Powerblock</legend>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PowerblockMake)</div>
        <div class="span2">@Html.DisplayFor(m => m.PowerblockMake)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PowerblockModel)</div>
        <div class="span2">@Html.DisplayFor(m => m.PowerblockModel)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PowerblockPower)</div>
        <div class="span2">@Html.DisplayFor(m => m.PowerblockPower)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PowerblockSpeed)</div>
        <div class="span2">@Html.DisplayFor(m => m.PowerblockSpeed)</div>
    </div>
</fieldset>

<fieldset>
    <legend>Purse Winch</legend>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PurseWinchMake)</div>
        <div class="span2">@Html.DisplayFor(m => m.PurseWinchMake)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PurseWinchModel)</div>
        <div class="span2">@Html.DisplayFor(m => m.PurseWinchModel)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PurseWinchPower)</div>
        <div class="span2">@Html.DisplayFor(m => m.PurseWinchPower)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.PurseWinchSpeed)</div>
        <div class="span2">@Html.DisplayFor(m => m.PurseWinchSpeed)</div>
    </div>
</fieldset>

@* FIXME Need to fix the database, TUBS, and the DAL to manage these units correctly *@
<fieldset>
    <legend>Net</legend>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.NetDepth)</div>
        <div class="span2">@Html.DisplayFor(m => m.NetDepth) @Html.DisplayFor(m => m.NetDepthUnit)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.NetLength)</div>
        <div class="span2">@Html.DisplayFor(m => m.NetLength) @Html.DisplayFor(m => m.NetLengthUnits)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.NetStrips)</div>
        <div class="span2">@Html.DisplayFor(m => m.NetStrips)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.MeshSize)</div>
        <div class="span2">@Html.DisplayFor(m => m.MeshSize) @Html.DisplayFor(m => m.MeshSizeUnits)</div>
    </div>
</fieldset>

<fieldset>
    <legend>Brails</legend>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Brail1Size)</div>
        <div class="span2">@Html.DisplayFor(m => m.Brail1Size) mT</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Brail2Size)</div>
        <div class="span2">@Html.DisplayFor(m => m.Brail2Size) mT</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.BrailType)</div>
    </div>
    <div class="row">
        <div class="span12">@Html.DisplayFor(m => m.BrailType, new { @cols = 80, @rows = 5 })</div>
    </div>
</fieldset>