@model IEnumerable<TubsWeb.ViewModels.Gen5ViewModel>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Object Number</th>
            <th>SSI trapped</th>
            <th>As Found</th>
            <th>As Left</th>
            <th>Buoy number</th>
            <th>Markings</th>            
        </tr>
    </thead>
    <tbody>
    @foreach (var fad in Model)
    {
        var detailTarget = Url.Action("Details", "Gen5", new { tripId = ViewBag.TripId, fadId = fad.Id });
        var editTarget = Url.Action("Edit", "Gen5", new { tripId = ViewBag.TripId, fadId = fad.Id });
        
        <tr>
            <td>
                <a href="@detailTarget"><i class="icon-list-alt" title="Details" rel="tooltip"></i></a>
                @if(!ViewBag.IsReadOnly)
                {
                    <text> | </text><a href="@editTarget"><i class="icon-edit" title="Edit" rel="tooltip"></i></a> 
                } 
            </td>
            <td>@Html.DisplayFor(m => fad.ObjectNumber)</td>
            <td>@fad.SsiTrapped</td>
            <td>@fad.AsFound</td>
            <td>@fad.AsLeft</td>
            <td>@fad.BuoyNumber</td>
            <td>@fad.Markings</td>
        </tr>
    }
    </tbody>
</table>