<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link rel="alternate" type="application/rss+xml" title="Latest Trips" href="@Url.Action("Rss", "Trip")" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      
      /* Props for the pointer to Steven Sanderson */
      /* http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ */
      .footer {
          overflow: hidden;
          position: absolute;
          height: 50px;
          bottom: 0;
      }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.meow.css")" rel="stylesheet" type="text/css" />

    <!-- Use Modernizr instead of html5shim / html5shiv, at least until it breaks -->
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <!-- Probably the biggest script, but it's handy to have it before the rest of the DOM loads -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <!-- // TODO
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->   
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Tuna Observer Data System (TUBS)</a>
          <div class="nav-collapse">
            <!-- Conditionally replace Bootstrap static nav with RenderSection(...) -->
            @if (IsSectionDefined("NavBar"))
            {
                @RenderSection("NavBar")
            }
            else
            {
                <ul class="nav pull-left">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trips<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.RouteLink("All Trips", "TripList")</li>
                        <li>@Html.ActionLink("My Trips", "MyTrips", "Trip")</li>
                        <li>@Html.ActionLink("Register New Trip", "Create", "Trip")</li>
                    </ul>
                  </li>
                  <li><a href="@Url.Content("~/")">Home</a></li>
                    <li>@Html.RouteLink("About", new { controller = "Home", action = "About" })</li>
                  @* Redundant for IE, but put it up there in the user's face... *@
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">RSS<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Rss", "Trip")">
                            <img src="@Url.Content("~/Content/images/25px-Feed-icon.png")" alt="RSS Feed Icon"/>Latest Trips</a>
                        </li>
                    </ul>
                  </li>
                </ul>
            }
            <ul class="nav pull-right">
                <li><a href="#">Welcome @User.Identity.Name</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @RenderSection("Sidebar", true)
            </div>
            <div class="span10">
                @RenderBody()
                <div class="footer">
                    This is confidential data subject to a @Html.ActionLink("data disclosure policy", "Confidentiality", "Home")
                </div>
            </div>
        </div>
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->   
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jtruncate.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

    <!-- Might as well load these all the time... -->   
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tubs.js")" type="text/javascript"></script>

    @RenderSection("AdditionalScripts", false)
</body>
</html>

