@using System.Web.Optimization
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!-- <html lang="en"> -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <title>@ViewBag.Title</title>
    @* 
     * This link relation allows us to publish the starting URL for our application.
     * The trick here is the use of the ~/ Url, which MVC will resolve into the root of
     * the appropriate virtual directory.
     * Much cleaner than messing with window.location
     *@
    <link rel="start" href="~/" id="applicationHome" />    
    <link rel="alternate" type="application/rss+xml" title="Latest Trips" href="@Url.RouteUrl(TubsWeb.RouteConfig.RssFeed)" />
    @Styles.Render("~/Content/css")
    @* TODO: TUBS should have a print stylesheet *@
    @RenderSection("AdditionalCss", false) 

    <!-- Use Modernizr instead of html5shim / html5shiv, at least until it breaks -->
    @Scripts.Render("~/bundles/modernizr")

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- // TODO
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->   
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Tuna Observer Data System (TUBS)</a>
          <div class="nav-collapse">
            <!-- Conditionally replace Bootstrap static nav with RenderSection(...) -->
            @if (IsSectionDefined("NavBar"))
            {
                @RenderSection("NavBar")
            }
            else
            {
                <ul class="nav pull-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trips<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Register New Trip", TubsWeb.RouteConfig.CreateTrip)</li>
                            <li>@Html.RouteLink("My Open Trips", TubsWeb.RouteConfig.MyOpenTrips)</li>
                            <li>@Html.RouteLink("My Trips", TubsWeb.RouteConfig.MyTrips)</li>
                            <li>@Html.RouteLink("All Trips", "TripList")</li>                          
                        </ul>
                    </li>
                    <li><a href="@Url.Content("~/")">Home</a></li>
                    <li>@Html.RouteLink("Reports", new { controller = "Home", action = "Reports" })</li>
                    <li>@Html.RouteLink("About", new { controller = "Home", action = "About" })</li>
                    <li>@Html.RouteLink("Help", new { controller = "Home", action = "EntryHelp" })</li>
                </ul>
            }
            @{ Html.RenderPartial("_UserWidget"); }
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    @* Keep a single layout base page for the entire app *@
    @{
        bool hasSidebar = IsSectionDefined("Sidebar");
        string containerClass = "container";
        if (hasSidebar || (ViewBag.UseFluid != null && ViewBag.UseFluid))
        {
            containerClass = "container-fluid";
        }       
    }
    <div class="wrapper">
        <div class="@containerClass">
        @if (hasSidebar)
        {
            <div class="span3">@RenderSection("Sidebar")</div>
            <div class="span9">@RenderBody()</div>
        }
        else
        {
            @RenderBody()
        }
        @*
         * This may be really cool or it may be the worst hack ever.
         * If the current trip is closed, splash a big, giant ribbon
         * in the upper-right corner telling the user.
         *@
        @if (ViewBag.IsReadOnly != null && ViewBag.IsReadOnly)
        { 
            <span id="closed-ribbon"><a href="#">This trip is closed</a></span>
        }  
        </div> 
        <div class="push"><!--//--></div>
    </div>

    <footer>
        <div class="container">
            <p>This is confidential data subject to a @Html.ActionLink("data disclosure policy", "Confidentiality", "Home").</p>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->   
    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs"
    )
    <script src="~/Scripts/tubs.js"></script>

    @RenderSection("AdditionalScripts", false)
</body>
</html>
