@model TubsWeb.ViewModels.LongLineTripInfoViewModel.FishingGear

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ll-accordion" href="#fishingGear">
            <i class="icon-chevron-right"></i> Fishing Gear
        </a>
    </div>
    <div id="fishingGear" class="accordion-body collapse">
        <div class="accordion-inner">
            @if (null == Model)
            {
                @: No Gear Information
            }
            else
            { 
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Gear</th>
                        <th>Is Installed</th>
                        <th>Usage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mainline Hauler</td>
                        <td>@Html.DisplayFor(m => Model.HasMainlineHauler)</td>
                        <td>@Model.MainlineHaulerUsage</td>
                    </tr>
                    <tr>
                        <td>Branchline Hauler</td>
                        <td>@Html.DisplayFor(m => Model.HasBranchlineHauler)</td>
                        <td>@Model.BranchlineHaulerUsage</td>
                    </tr>
                    <tr>
                        <td>Line Shooter</td>
                        <td>@Html.DisplayFor(m => Model.HasLineShooter)</td>
                        <td>@Model.LineShooterUsage</td>
                    </tr>
                    <tr>
                        <td>Automatic Bait Thrower</td>
                        <td>@Html.DisplayFor(m => Model.HasBaitThrower)</td>
                        <td>@Model.BaitThrowerUsage</td>
                    </tr>
                    <tr>
                        <td>Automatic Branchline Attacher</td>
                        <td>@Html.DisplayFor(m => Model.HasBranchlineAttacher)</td>
                        <td>@Model.BranchlineAttacherUsage</td>
                    </tr>
                    <tr>
                        <td>Weighing Scales</td>
                        <td>@Html.DisplayFor(m => Model.HasWeighingScales)</td>
                        <td>@Model.WeighingScalesUsage</td>
                    </tr>
                    @if (Model.ShowNewGear)
                    { 
                    <tr>
                        <td>@Model.Description</td>
                        <td>@Html.DisplayFor(m => Model.HasOther)</td>
                        <td>@Model.OtherUsage</td>
                    </tr>
                    }
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Line</th>
                        <th>Material</th>
                        <th>Diameter (mm)</th>
                        <th>Length (nM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mainline</td>
                        <td>@Model.MainlineMaterial</td>
                        <td>@Html.DisplayFor(m => m.MainlineDiameter, new { format = "F1" })</td>
                        <td>@Html.DisplayFor(m => m.MainlineLength, new { format = "F1" })</td>
                    </tr>
                    <tr>
                        <td>Branchline 1</td>
                        <td>@Model.BranchlineMaterial1</td>
                        <td>@Html.DisplayFor(m => m.BranchlineDiameter1, new { format = "F1" })</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Branchline 2</td>
                        <td>@Model.BranchlineMaterial2</td>
                        <td>@Html.DisplayFor(m => m.BranchlineDiameter2, new { format = "F1" })</td>
                        <td>N/A</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="row">
                <div class="span3">
                    <label><strong>Has Wire Trace</strong></label>
                    <span>@Model.HasWireTrace</span>
                </div>
            </div>
            <hr />
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Hook Type</th>
                        <th class="span1">Size</th>
                        <th class="span1">Percentage</th>
                        @if (Model.ShowOffsetRingSwivel)
                        {
                        <th>Offset, Rings, Swivels</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Japan</td>
                        <td>@Model.JapanHookSize</td>
                        <td>@Html.DisplayFor(m => m.JapanHookPercentage)</td>
                        @if (Model.ShowOffsetRingSwivel)
                        {
                        <td>@Model.JapanOffsetRingSwivel</td>
                        }
                    </tr>
                    <tr>
                        <td>Circle</td>
                        <td>@Model.CircleHookSize</td>
                        <td>@Html.DisplayFor(m => m.CircleHookPercentage)</td>
                        @if (Model.ShowOffsetRingSwivel)
                        {
                        <td>@Model.CircleOffsetRingSwivel</td>
                        }
                    </tr>
                    <tr>
                        <td>"J"</td>
                        <td>@Model.JHookSize</td>
                        <td>@Html.DisplayFor(m => m.JHookPercentage)</td>
                        @if (Model.ShowOffsetRingSwivel)
                        {
                        <td>@Model.JHookOffsetRingSwivel</td>
                        }
                    </tr>
                    @if (Model.ShowOtherHook)
                    {
                    <tr>
                        <td>@Model.OtherHookType</td>
                        <td>@Model.OtherHookSize</td>
                        <td>@Html.DisplayFor(m => m.OtherHookPercentage)</td>
                        @if (Model.ShowOffsetRingSwivel)
                        {
                        <td>@Model.OtherOffsetRingSwivel</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>