@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <img src="@Url.Content("~/Content/images/app_logo.png")" alt="Application logo" class="app-logo" />
    <h2>Tuna Observer Data System (TUBS)</h2>
    <br />
    <p>@ViewBag.TripsEnteredSince trips entered in the last 30 days.</p>
    <p>You have entered @ViewBag.TripsInLastWeek trip(s) in the last 7 days.</p>
    <br />
    <br />
    <p>
        @Html.RouteLink("My Open Trips", "MyOpenTrips") | 
        @Html.ActionLink("List of Trips", "Index", "Trip") | 
        @Html.ActionLink("Register New Trip", "Create", "Trip")
        @*
         * TODO: Search link
         *@
    </p>
</div>
<div class="btn-toolbar pagination-centered">
    <a href="#" class="btn btn-large btn-primary disabled">
        <img src='@Url.Content("~/Content/images/cruise.png")' class="summary" alt="Trips" />
        <div class="summary"><strong>@ViewBag.TripCount<br />trips</strong></div>
    </a>
    <a href="#" class="btn btn-large btn-success disabled">
        <img src='@Url.Content("~/Content/images/project.png")' class="summary" alt="Programs" />
        <div class="summary"><strong>@ViewBag.ProgramCount<br />programs</strong></div>
    </a>
    <a href="#" class="btn btn-large btn-warning disabled">
        <img src='@Url.Content("~/Content/images/fishing.png")' class="summary" alt="Programs" />
        <div class="summary"><strong>@ViewBag.SetCount<br />sets</strong></div>
    </a>
</div>
