@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @ViewBag.TripsEnteredSince trips entered in the last 30 days.
</p>
<p>
    You have entered @ViewBag.TripsInLastWeek trip(s) in the last 7 days.
</p>
<p>
    Trips by year
    <span class="inlinesparkline" style="height: 2em;">@ViewBag.TripsByYear</span>
</p>
<p>
    @Html.ActionLink("List of Trips", "Index", "Trip") | @Html.ActionLink("Register New Trip", "Create", "Trip")
</p>


@section AdditionalScripts {
<script type="text/javascript">
    $(function () {
        $('.inlinesparkline').sparkline('html', {height: '50px', width: '200px'});
    });
</script>
}
