@model TubsWeb.Models.CrewViewModel

<!-- TODO:  http://jqueryui.com/demos/accordion/ -->
<!-- Since we want multiple sections open at once, we don't want the accordian control, just the jQuery given above. -->
<!-- Named crew -->
<fieldset>
    <legend>Senior Crew</legend>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th style="width: 15%;">Job</th>
                <th>Name</th>
                <th style="width: 10%;">Experience</th>
                <th style="width: 10%;">Nationality</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Captain</td>
                @Html.DisplayFor(m => Model.Captain)
            </tr>
            <tr>
                <td>Navigator / Master</td>
                @Html.DisplayFor(m => Model.Navigator)
            </tr>
            <tr>
                <td>Mate</td>
                @Html.DisplayFor(m => Model.Mate)
            </tr>
            <tr>
                <td>Chief Engineer</td>
                @Html.DisplayFor(m => Model.ChiefEngineer)
            </tr>
            <tr>
                <td>Assistant Engineer</td>
                @Html.DisplayFor(m => Model.AssistantEngineer)
            </tr>
            <tr>
                <td>Deck Boss</td>
                @Html.DisplayFor(m => Model.DeckBoss) 
            </tr>
            <tr>
                <td>Cook</td>
                @Html.DisplayFor(m => Model.Cook) 
            </tr>
            <tr>
                <td>Helicopter Pilot</td>
                @Html.DisplayFor(m => Model.HelicopterPilot)
            </tr>
            <tr>
                <td>Skiff Man</td>
                @Html.DisplayFor(m => Model.SkiffMan)
            </tr>
            <tr>
                <td>Winch Man</td>
                @Html.DisplayFor(m => Model.WinchMan) 
            </tr>
        </tbody>
    </table>
</fieldset>

<br />

<!-- The rest of the hands -->
<fieldset>
    <legend>Hands</legend>
    <table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width: 10%;">Experience</th>
            <th style="width: 10%;">Nationality</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var hand in Model.Hands) {
                <tr>
                    <td>@hand.Name</td>
                    <td>@hand.Experience</td>
                    <td>@hand.Nationality</td>
                </tr>   
            }
        }
    </tbody>
</table>
</fieldset>

