@model TubsWeb.Models.CrewViewModel.CrewMemberModel

@{ ViewData.TemplateInfo.HtmlFieldPrefix = String.Empty; }


<td>
    @Html.HiddenFor(m => Model.Id)
    @Html.HiddenFor(m => Model.Job)
    @Html.TextBoxFor(m => Model.Name)
</td>
<td>@Html.TextBoxFor(m => Model.Years, new { style = "width: 50px;" })</td>
<td>@Html.TextBoxFor(m => Model.Nationality, new { style = "width: 50px;" })</td>
@* TODO Change this to a hyperlink? *@
<td>
    <div class="btn-group">
        <input type="submit" name="Save" value="Save" class="btn-primary" />
        <input type="reset" name="Cancel" />
    </div>
</td>