@model TubsWeb.Models.CrewViewModel.CrewMemberModel

@{ ViewData.TemplateInfo.HtmlFieldPrefix = String.Empty; }


<td>
    @Html.HiddenFor(m => Model.Id)
    @Html.HiddenFor(m => Model.Job)
    @Html.TextBoxFor(m => Model.Name)
</td>
<td>@Html.TextBoxFor(m => Model.Years, new { style = "width: 50px;" }) years @Html.TextBoxFor(m => Model.Months, new { style = "width: 50px;" }) months</td>
<td>@Html.TextBoxFor(m => Model.Nationality, new { style = "width: 50px;" })</td>
@* TODO Change this to a hyperlink? *@
<td>
    <input type="Submit" value="Save" style="font-size: 1.0em;"/>
    <input type="Reset" value="Undo" style="font-size: 1.0em;"/>
</td>


@* As noted in CrewController, jQuery and MVC have an integration problem with a partial view and embedded JavaScript. *@
@* However, this works out okay, so stick with it for now. *@

@if (ViewData.ContainsKey("modelSaved"))
{
    var modelSaved = (bool)ViewData["modelSaved"];
    if (modelSaved)
    {
        <script type="text/javascript">
            //alert('Save successful');
            notify('Save successful');
        </script>
    }
    else
    {
        <script type="text/javascript">
            // TODO Add a different style
            alert('Save failed.  Contact support.');
        </script>
    }
}