@model Spc.Ofp.Tubs.DAL.Entities.Sighting

@* If each row contains an inner table, with photo frame and comments in the second row, might work *@
@* Another option is to change the font size to something smaller *@
<td>
    @Html.HiddenFor(m => Model.Id)
    @* TODO Format the date better *@
    @* NOTE: By default, MVC is uses the same Id for each value.  Not great, but then it really only matters for the date field *@
    @Html.TextBoxFor(m => Model.EventTime, new { @class = "datetime", style = "width: 110px", id = System.Guid.NewGuid().ToString() })
</td>
<td>
    @Html.TextBoxFor(m => Model.Latitude, new { style = "width: 80px;" })
</td>
<td>
    @Html.TextBoxFor(m => Model.Longitude, new { style = "width: 90px;" })
</td>
<td>
    @* TODO Do something about VesselId / Vessel *@
    @Html.TextBoxFor(m => Model.VesselName)
</td>
<td>
    @Html.TextBoxFor(m => Model.Ircs, new { style = "width: 125px;" })
</td>
<td>
    @Html.TextBoxFor(m => Model.VesselFlag, new { style = "width: 25px;" })
</td>
<td>
    @Html.DropDownListFor(m => Model.VesselType, new SelectList(TubsWeb.Models.Gen1ViewModel.SightedVessels, Model.VesselType), "Choose") <br />
</td>
<td>
    @Html.TextBoxFor(m => Model.Bearing, new { style = "width: 25px;" })
</td>
<td>
    @Html.TextBoxFor(m => Model.Distance, new { style = "width: 25px;" })
</td>
<td>
    @Html.DropDownListFor(m => Model.ActionType, new SelectList(TubsWeb.Models.Gen1ViewModel.ActionTypes, Model.ActionType), "Choose")
</td>
@* This is too big, so use something that pops up for comments and maybe photo frame *@
<td>
    @Html.TextBoxFor(m => Model.PhotoNumber, new { style = "width: 95px;" })
</td>
<td>
    @Html.TextBoxFor(m => Model.Comments)
</td>
<td>
    <input type="Submit" value="Save" style="font-size: 1.0em;"/>
    <input type="Reset" value="Undo" style="font-size: 1.0em;"/>
</td>