@model TubsWeb.ViewModels.SightingViewModel

@{ ViewBag.Title = "Sightings"; }

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber ?? "This Trip"),
        Tuple.Create("#", "GEN-1 Sightings")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (!ViewBag.IsReadOnly)
{
    <p>@Html.ActionLink("Edit Sightings", "EditSightings", new { tripId = Model.TripId })</p>
}

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Name</th>
            <th>IRCS</th>
            <th>Type</th>
            <th>Action</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var sighting in Model.Sightings)
    {
        <tr>
            <td>@Html.DisplayFor(m => sighting.DateOnly, new { format = "dd/MM/yy" })</td>
            <td>@sighting.TimeOnly</td>
            <td>@sighting.Latitude</td>
            <td>@sighting.Longitude</td>
            <td>
                @if (!String.IsNullOrEmpty(sighting.CountryCode))
                {
                    var imgLink = @Url.Content(String.Format("~/Content/images/flags/{0}.png", sighting.CountryCode.ToLower()));
                    <img src="@imgLink" alt="@sighting.CountryCode" title="@sighting.CountryCode" />
                }
                @sighting.Name
            </td>
            <td>@sighting.Ircs</td>
            <td>@sighting.TypeDescription</td>
            <td>@sighting.ActionDescription</td>
            <td>@sighting.Comments</td>
        </tr>
    }
    </tbody>
</table>
