@model Spc.Ofp.Tubs.DAL.Entities.VesselNotes

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), ViewBag.TripNumber as string),
        Tuple.Create(Url.Action("Index", "VesselDetails", new { tripId = ViewBag.TripId }), "Vessel Details"),
        Tuple.Create("#", "Create Vessel Details")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (ViewData["flash"] != null)
{
    var alertLevel = ViewData["flash-level"] ?? "alert-error";
    <div class="alert @alertLevel">
        <a class="close" data-dismiss="alert">&times;</a>
        @ViewData["flash"]
    </div>
}


@using (Html.BeginForm("Create", "VesselDetails", FormMethod.Post, new { @class = "well" }))
{ 
    @Html.ValidationSummary(true, "Save failed")
    <fieldset>
        <legend>Vessel Details</legend>
        @Html.LabelFor(m => m.Owner) 
        @Html.EditorFor(m => m.Owner)

        @Html.LabelFor(m => m.Captain) 
        @Html.EditorFor(m => m.Captain)

        @Html.LabelFor(m => m.CaptainCountryCode) 
        @Html.TextBoxFor(m => m.CaptainCountryCode, new { @maxlength = "2", @size = "3", @class = "span1" })

        @Html.LabelFor(m => m.Licenses) 
        @Html.TextAreaFor(m => m.Licenses, new { @cols = 120, @rows = 6 }) 

        @Html.LabelFor(m => m.FishingMaster) 
        @Html.EditorFor(m => m.FishingMaster)

        @Html.LabelFor(m => m.MasterCountryCode) 
        @Html.TextBoxFor(m => m.MasterCountryCode, new { @maxlength = "2", @size = "3", @class = "span1" })

        @Html.LabelFor(m => m.Comments) 
        @Html.TextAreaFor(m => m.Comments, new { @cols = 120, @rows = 6 })
    </fieldset>
    
    <p>
        <input class="btn btn-primary" type="submit" value="Save" />
        <input class="btn" type="reset" value="Cancel" />
    </p>    
}