@model Spc.Ofp.Tubs.DAL.Entities.VesselNotes

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), ViewBag.TripNumber as string),
        Tuple.Create("#", "Vessel Details")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (null == Model)
{
    <p>
        No details available for this vessel.        
    </p>
    if (!ViewBag.IsReadOnly)
    {
        <p>
            @Html.ActionLink("Add Vessel Details", "Create", "VesselDetails", new { tripId = ViewBag.TripId }, null)
        </p>
    }
} else {
<fieldset>
    <legend>Vessel Details</legend>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Owner)</div>
        <div class="span4">@Html.DisplayFor(m => m.Owner)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Captain)</div>
        <div class="span4">@Html.DisplayFor(m => m.Captain)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.CaptainCountryCode)</div>
        <div class="span4">@Html.DisplayFor(m => m.CaptainCountryCode)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.FishingMaster)</div>
        <div class="span4">@Html.DisplayFor(m => m.FishingMaster)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.MasterCountryCode)</div>
        <div class="span4">@Html.DisplayFor(m => m.MasterCountryCode)</div>
    </div>
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Owner)</div>
        <div class="span4">@Html.DisplayFor(m => m.Owner)</div>
    </div>
    <!-- Licenses and Comments are both potentially large -->
    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Licenses)</div>
    </div>
    <div class="row">
        <div class="span8">@Html.DisplayFor(m => m.Licenses)</div>
    </div>

    <div class="row">
        <div class="span4">@Html.LabelFor(m => m.Comments)</div>
    </div>
    <div class="row">
        <div class="span8">@Html.DisplayFor(m => m.Comments)</div>
    </div>
</fieldset>
<hr />
    if (!ViewBag.IsReadOnly)
    {
        <p>
            @Html.ActionLink("Edit Vessel Details", "Edit", "VesselDetails", new { tripId = ViewBag.TripId }, null)
        </p>
    }
}
