@{
    ViewBag.Title = "Index";
}

@section AdditionalCss {
    @Styles.Render("~/Content/css")
}

@{
    var controller = ViewContext.Controller.GetType();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var methods = controller.GetMethods()
        .Where(m => m.ReturnType.ToString() == "System.Web.Mvc.ActionResult" && !"Index".Equals(m.Name, StringComparison.InvariantCultureIgnoreCase));

    var links =
        from method in methods
        select String.Format("\"{0}\"", Url.Action(method.Name, controllerName));
            
    var suite = String.Join(",", links);            
}

<div class="wrapper">
    <div class="container">
        <p>
            This page runs all available JavaScript unit tests for TUBS and displays the results in a single place.
            Each test can also be accessed via the list below.
        </p>
        @* TODO: Hide this list *@
        <ul class="unstyled">
        @foreach(var method in methods)
        {
            <li>@Html.ActionLink(@method.Name, @method.Name, controllerName)</li>
        }
        </ul>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>

    </div>
    <div class="push"><!--//--></div>
</div>

@section AdditionalScripts {
    <script>
        QUnit.testSuites(
            "TUBS viewmodel tests",
            [
                @Html.Raw(suite)
            ]
        );
    </script>
}

