@model TubsWeb.Models.ElectronicsViewModel

@* 
    FIXME
    The problem here is that each device category can have 0 to N devices.
    The correct display would be category and then devices in said category.    
*@
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Installed?</th>
            <th>Usage</th>
            <th>Make</th>
            <th>Model</th>
            <th>Comments</th>
        </tr>       
    </thead>
    <tbody>
    @Html.DisplayFor(m => m.Gps)
    @Html.DisplayFor(m => m.TrackPlotter)
    @Html.DisplayFor(m => m.DepthSounder)
    @Html.DisplayFor(m => m.SstGauge)
    @Html.DisplayFor(m => m.BirdRadar)
    @Html.DisplayFor(m => m.Sonar)
    @Html.DisplayFor(m => m.GpsBuoys)
    @Html.DisplayFor(m => m.EchoSoundingBuoy)
    @Html.DisplayFor(m => m.NetDepthInstrumentation)
    @Html.DisplayFor(m => m.DopplerCurrentMeter)
    @foreach (var other in Model.OtherDevices)
    {
        @Html.DisplayFor(m => other)
    }
    </tbody>
</table>