@model TubsWeb.ViewModels.ElectronicsViewModel

@{
    ViewBag.Title = String.Format("{0}: Electronics", Model.TripNumber);
}
@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create("#", "Electronics")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@*
 * TODO:  Add Edit button if not closed
 *@

@* TODO: Use tabs and include comms and information services *@

<fieldset>
    <legend>Categories</legend>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th class="span2">&nbsp;</th>
                <th>Installed</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>GPS</strong></td>
                <td>@(null == Model.Gps ? "N/A" : Model.Gps.IsInstalled)</td>
                <td>@(null == Model.Gps ? "N/A" : Model.Gps.Usage)</td>
            </tr>
            <tr>
                <td><strong>Depth Sounder</strong></td>
                <td>@(null == Model.DepthSounder ? "N/A" : Model.DepthSounder.IsInstalled)</td>
                <td>@(null == Model.DepthSounder ? "N/A" : Model.DepthSounder.Usage)</td>
            </tr>
            <tr>
                <td><strong>Track Plotter</strong></td>
                <td>@(null == Model.TrackPlotter ? "N/A" : Model.TrackPlotter.IsInstalled)</td>
                <td>@(null == Model.TrackPlotter ? "N/A" : Model.TrackPlotter.Usage)</td>
            </tr>
            <tr>
                <td><strong>SST Gauge</strong></td>
                <td>@(null == Model.SstGauge ? "N/A" : Model.SstGauge.IsInstalled)</td>
                <td>@(null == Model.SstGauge ? "N/A" : Model.SstGauge.Usage)</td>
            </tr>
        </tbody>
    </table>
</fieldset>

@if (Model.Buoys.Any())
{
<fieldset>
    <legend>Buoys</legend>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Installed</th>
                <th>Usage</th>
                <th>Make</th>
                <th>Model</th>
                <th>How Many</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var buoy in Model.Buoys)
        { 
            <tr>
                <td>@buoy.DeviceType</td>
                <td>@buoy.IsInstalled</td>
                <td>@buoy.Usage</td>
                <td>@buoy.Make</td>
                <td>@buoy.Model</td>
                <td>@buoy.BuoyCount</td>
                <td>@buoy.Comments</td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
}

@if (Model.Vms.Any())
{
<fieldset>
    <legend>VMS</legend>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>System</th>
                <th>Installed</th>
                <th>Make</th>
                <th>Model</th>
                <th>Seals Intact</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var vms in Model.Vms)
        { 
            <tr>
                <td>@vms.SystemDescription</td>
                <td>@vms.IsInstalled</td>
                <td>@vms.Make</td>
                <td>@vms.Model</td>
                <td>@vms.SealsIntact</td>
                <td>@vms.Comments</td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
}

@if (Model.OtherDevices.Any())
{
<fieldset>
    <legend>Other Devices</legend>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Installed</th>
                <th>Make</th>
                <th>Model</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var device in Model.OtherDevices)
        { 
            <tr>
                <td>@(device.DeviceType ?? device.Description)</td>
                <td>@device.IsInstalled</td>
                <td>@device.Make</td>
                <td>@device.Model</td>
                <td>@device.Comments</td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
}