@model Spc.Ofp.Tubs.DAL.Entities.Trip

<table>
    <tr>
        <td class="label" style="width: 10%;">Observer:</td>
        <td>@Model.Observer.ToString()</td>
        <td class="label" style="width: 10%;">Program:</td>
        <td>@Model.ProgramCode</td>
    </tr>
    <tr>
        <td class="label">Trip Number:</td>
        <td>@Model.TripNumber</td>
        <td class="label">Alternate Trip Number:</td>
        <td>@Model.AlternateTripNumber</td>
    </tr>
    <tr>
        <td class="label">First Day:</td>
        <td>@Html.DisplayFor(m => m.DepartureDate)</td>
        <td class="label">Last Day:</td>
        <td>@Html.DisplayFor(m => m.ReturnDate)</td>
    </tr>
    <tr>
        <td class="label">Vessel Name:</td>
        <td>@Html.DisplayFor(m => m.Vessel.Name)</td>
        <td class="label">Vessel Flag:</td>
        <td>@Html.DisplayFor(m => m.Vessel.RegisteredCountryCode)</td>
    </tr>
    <tr>
        <td class="label">Departure Port:</td>
        <td>@Model.DeparturePort.ToString()</td>
        <td class="label">Return Port:</td>
        <td>@Model.ReturnPort.ToString()</td>
    </tr>
    <!-- Add Sea days and sets for PS trips -->
    @if (Model.GetType() == typeof(Spc.Ofp.Tubs.DAL.Entities.PurseSeineTrip))
    {
        var pstrip = Model as Spc.Ofp.Tubs.DAL.Entities.PurseSeineTrip;
        <tr>
            <td class="label">Sea Days:</td>
            <td>@pstrip.SeaDays.Count.ToString()</td>
            <td class="label">Sets:</td>
            @{
                var setcount = (
                    from d in pstrip.SeaDays
                    from a in d.Activities
                    where a.ActivityType.HasValue && a.ActivityType.Value == Spc.Ofp.Tubs.DAL.Common.ActivityType.Fishing
                    select 1
                ).Sum();                              
            }
            <td>@setcount</td>
        </tr> 
    }  
    
    @if (Model.IsSpillSampled.HasValue && Model.IsSpillSampled.Value)
    {
    <tr>
        <td class="label">Spill Observer:</td>
        <td>TODO</td>
        <td class="label">Spill Trip Number:</td>
        <td>@Html.DisplayFor(m => m.SpillTripNumber)</td>
    </tr>
    }
    <tr>
        <td class="label">Entered By:</td>
        <td>@Model.EnteredBy</td>
        <td class="label">Entered Date:</td>
        <td>@Html.DisplayFor(m => m.EnteredDate)</td>
    </tr>
    @* TODO Add verified/closed information *@
</table>