@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.TripHeader>
@using System.Web.Configuration

@{
    bool IsInstalledAtSpc = 
        string.IsNullOrEmpty(WebConfigurationManager.AppSettings["DefaultProgramCode"]) &&
        string.IsNullOrEmpty(WebConfigurationManager.AppSettings["DefaultCountryCode"]);
}  
           
<table class="table table-bordered table-condensed table-striped" id="tripTable">
    <caption>@ViewBag.TotalRows Trips</caption>
    <thead>
        <tr>
            <th>&nbsp;</th>
            @if (IsInstalledAtSpc)
            {
            <th>Program</th>
            }
            <th>Trip Number</th>
            <th>Vessel</th>
            <th>Port of Departure</th>
            <th>Departure Date</th>
            <th>Return Port</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var detailTarget = Url.RouteUrl(TubsWeb.RouteConfig.TripDetails, new { tripId = item.Id, action = "Details" });
        var modalTarget = Url.Action("DetailModal", new { tripId = item.Id });
        <tr>
            <td class="nobr">
                <a href="@detailTarget"><i class="icon-list-alt icon-large" title="Details" rel="tooltip"></i></a>&nbsp;
                <a href="@modalTarget" data-trigger="modal" data-title="Trip Summary"><i class="icon-info icon-large" title="Quick Summary" rel="tooltip"></i></a>
            </td>
            @if (IsInstalledAtSpc)
            {
            <td>@Html.DisplayFor(i => item.ProgramCode)</td>
            }
            <td>@Html.DisplayFor(i => item.SpcTripNumber)</td>
            <td>
                @if (!String.IsNullOrEmpty(item.Vessel.RegisteredCountryCode))
                {
                    var imgLink = @Url.Content(String.Format("~/Content/images/flags/{0}.png", item.Vessel.RegisteredCountryCode.ToLower()));
                    <img src="@imgLink" alt="@item.Vessel.RegisteredCountryCode" title="@item.Vessel.RegisteredCountryCode" width="16" height="11" />
                }
                @Html.DisplayFor(i => item.Vessel.Name)
            </td>
            <td>@item.DeparturePort.ToString()</td>
            <td> @Html.DisplayFor(i => item.DepartureDate, new { format = "d" })</td>
            <td>@item.ReturnPort.ToString()</td>
            <td>@Html.DisplayFor(i => item.ReturnDate, new { format = "d" })</td>
        </tr>    
    }
    </tbody>
</table>

@* Use a modal dialog to quickly show data for trip *@
<div id="modal" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Trip Summary</h3>
  </div>
  <div class="inner">
    <p>No summary available</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal">Close</a>
  </div>
</div>