@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.TripHeader>
@using System.Web.Configuration

@{
    bool IsInstalledAtSpc = 
        string.IsNullOrEmpty(WebConfigurationManager.AppSettings["DefaultProgramCode"]) &&
        string.IsNullOrEmpty(WebConfigurationManager.AppSettings["DefaultCountryCode"]);
}  
           
<table class="table table-bordered table-condensed table-striped" id="tripTable">
    <caption>@ViewBag.TotalRows Trips</caption>
    <thead>
        <tr>
            <th>Trip Id</th>
            @if (IsInstalledAtSpc)
            {
            <th>Program</th>
            }
            <th>Trip Number</th>
            <th>Vessel</th>
            <th>Port of Departure</th>
            <th>Departure Date</th>
            <th>Return Port</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), "Details", new { tripId = item.Id })
            </td>
            @if (IsInstalledAtSpc)
            {
            <td>
                @Html.DisplayFor(i => item.ProgramCode)
            </td>
            }
            <td>
                @Html.DisplayFor(i => item.SpcTripNumber)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.Vessel.RegisteredCountryCode))
                {
                    var imgLink = @Url.Content(String.Format("~/Content/images/flags/{0}.png", item.Vessel.RegisteredCountryCode.ToLower()));
                    <img src="@imgLink" alt="@item.Vessel.RegisteredCountryCode" title="@item.Vessel.RegisteredCountryCode" width="16" height="11" />
                }
                @Html.DisplayFor(i => item.Vessel.Name)
            </td>
            <td>
                @item.DeparturePort.ToString()
            </td>
            <td>
                @Html.DisplayFor(i => item.DepartureDate, new { format = "d" })
            </td>
            <td>
                @item.ReturnPort.ToString()
            </td>
            <td>
                @Html.DisplayFor(i => item.ReturnDate, new { format = "d" })
            </td>
        </tr>    
    }
    </tbody>
</table>