@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Trip Summary</legend>
    @{Html.RenderPartial("_TripSummary");}
</fieldset>

<p>    
    @if (Model.GetType() == typeof(PurseSeineTrip))
    {
        @Html.ActionLink("Auxiliaries", "Index", "Auxiliaries", new { tripId = Model.Id }, null) <text> |</text>
    }
    @Html.ActionLink("Vessel Details", "Index", "VesselDetails", new { tripId = Model.Id }, null) |
    @Html.ActionLink("Crew", "Index", "Crew", new { tripId = Model.Id }, null) |
    @Html.ActionLink("Electronics", "List", "Electronics", new { tripId = Model.Id }, null) |
    @Html.ActionLink("Fishing Gear", "Index", "Gear", new { tripId = Model.Id }, null) |
    @Html.ActionLink("GEN-1", "Index", "Gen1", new { tripId = Model.Id }, null) |
    @Html.ActionLink("GEN-2", "List", "Gen2", new { tripId = Model.Id }, null) | 
    @Html.ActionLink("GEN-3", "Index", "Gen3", new { tripId = Model.Id }, null) | @* FIXME Change this to List like the rest *@
    @Html.ActionLink("GEN-6", "List", "Gen6", new { tripId = Model.Id }, null) |
    @Html.ActionLink("Days", "List", "SeaDay", new { tripId = Model.Id }, null) |
    @Html.ActionLink("Sets", "List", "FishingSet", new { tripId = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { tripId = Model.Id }) |
    <a href='@Url.RouteUrl("TripList")'>Back to List</a>
</p>
