@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities

<h2>@ViewBag.Title</h2>

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create("#", Model.SpcTripNumber)
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@{Html.RenderPartial("_TripSummary");}

@{
    string formatString = System.Web.Configuration.WebConfigurationManager.AppSettings["ReportingServicesFormatUrl"].ToString();
}

@* TODO Add downloads for CSV downloads of GEN-1, GEN-2, GEN-6, Days, and Sets *@
@* TODO Better yet, figure out how to push this all into the controller.  This is too messy for Razor *@

<h4>Downloads</h4>
<div class="row">
    <div class="span2"><strong>Cover Page</strong></div>
    @{ 
        string coverPageUrl = String.Format(formatString, "CoverPage", ViewBag.TripId);
        if (!coverPageUrl.EndsWith("&rs:Format=PDF"))
        {
            coverPageUrl += "&rs:Format=PDF";
        }
    }
    <div class="span2">
        <a id="coverPageLink" href="@coverPageUrl" target="_blank"><img src="~/Content/images/pdf-16x16.png" alt="PDF" height="16" width="16" />&nbsp;PDF</a>
    </div>
</div>
<div class="row">
    <div class="span2"><strong>Trip Summary</strong></div>
    @{ 
        string tripSummaryUrl = String.Format(formatString, "PS-TripSummary", ViewBag.TripId);
        string externalPdf = tripSummaryUrl + "&rs:Format=PDF";
    }
    <div class="span2">
        <a id="summaryPdf" href="@externalPdf" target="_blank">
            <img src="~/Content/images/pdf-16x16.png" alt="PDF" height="16" width="16" />&nbsp;PDF
        </a>
    </div>
    <div class="span2">
        <a id="summaryOther" href="@tripSummaryUrl">Other Formats</a>
    </div>
</div>
<div class="row">
    <div class="span2"><strong>Trip Positions</strong></div>
    <div class="span2">
        <a id="kmlLink" href='@Url.Action("Positions", "Trip", new { tripId = ViewBag.TripId })'>
            <img src="~/Content/images/google-earth-16x16.png" alt="KML" height="16" width="16" />KML
        </a>
    </div>
    <div class="span2"><a href="#">Other Formats</a></div>
</div>

<ul id="tlyPageGuide" data-tourtitle="Trip data navigation">
    <li class="tlypageguide_right" data-tourtarget="#subsectionNavbar">
        <div>
            Use these links to navigate to different sections of the trip.
        </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#crumb_1">
        <div>
            This link will always take you back to the list of all trips.
        </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#crumb_2">
        <div>
            As you navigate through the different sections, this link will always
            return you to this page.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#coverPageLink">
        <div>
            This link will create a PDF coverpage for the trip.
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="#summaryPdf">
        <div>
            This link will create a PDF trip summary report.
            The summary report includes basic catch and effort information.
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="#summaryOther">
        <div>
            This link will take you to the report server.  Use this link if
            you want the summary report in another format like Word, Excel, or CSV.
        </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#kmlLink">
        <div>
            This link will download a KML file that plots trip positions.
        </div>
    </li>
</ul>

@section Sidebar {

    @{
        IEnumerable<Tuple<string, string>> navpills = ViewBag.NavPills;
        if (null != navpills)
        {
            Html.RenderPartial("_VerticalTripNavBar", navpills);   
        }
    }

}

@section AdditionalScripts {
    <script>
        $(function () {
            /* TODO:  Only execute this if it works in the current browser (read:  Not IE8 or lower) */
            tl.pg.init();
        });
    </script>
}
