@model PagedList.IPagedList<Spc.Ofp.Tubs.DAL.Entities.TripHeader>
@using PagedList.Mvc;
@using PagedList;

<h3>@ViewBag.Title</h3>

@{ AjaxOptions searchOptions = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tripTable", OnSuccess = "onSearchSuccess", OnFailure = "onSearchFail" }; }
@using(Ajax.BeginForm("Search", null, searchOptions, new { @class = "well form-inline" }))
{
    @Html.Label("staffCode", "Observer:")
    @Html.TextBox("staffCode", String.Empty, new { @class = "input-small", placeholder = "Staff Code" })
    @Html.Label("vessel", "Vessel:")
    @Html.TextBox("vessel", String.Empty, new { placeholder = "Vessel Name" })
    @Html.Label("program", "Program Code:")
    @Html.DropDownList("program", new SelectList(Enum.GetValues(typeof(Spc.Ofp.Tubs.DAL.Common.ObserverProgram))), "Choose", new { @class = "span2" })
    <button type="submit" class="btn" onclick="$('#progressBar').show();">Search</button>
    var buttonLink = @Url.RouteUrl("TripList");
    /* We're going to write HTML like it's 1999! */
    <button id="btnClear" class="btn" style="display:none;" onclick="parent.location='@buttonLink'; return false;">Clear</button>
}

<div id="progressBar" style="display:none;" class="span2 offset4">
    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Loading..." />
</div>

@{ Html.RenderPartial("_Trips", Model); }

@{
    string actionName = ViewBag.ActionName ?? "Index";
}

<div id="pager">
@Html.PagedListPager(Model, page => Url.Action(actionName, new { page }))
</div>


@section AdditionalScripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/scojs")
    <script src="~/Scripts/App/errorlogger.js"></script>
    <script>       
        function onSearchSuccess(data, status, xhr) {
            $('#pager').hide();
            $('#progressBar').hide();
            $('#btnClear').show();
        }

        function onSearchFail(xhr, status, error) {
            $('#progressBar').hide();
            tubs.notify('Search Failed', xhr, status);
        }
    </script>
}
