@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.Trip>

@{
    ViewBag.Title = "My Trips";
}

<h3>@ViewBag.Title</h3>

<!-- Filter Criteria: @ViewBag.FilterCriteria -->

@{ 
    //var grid = new WebGrid(source: Model, canSort:false, rowsPerPage: 15);

    var grid = new WebGrid(rowsPerPage: 15, canSort: false);
    grid.Bind(Model, rowCount: ViewBag.TotalRows);
}

<div id="tripgrid">
    @grid.GetHtml(
    tableStyle:"table table-striped table-bordered table-condensed",
    columns: grid.Columns(
        grid.Column(
            format: (item) => 
                new HtmlString(
                Html.ActionLink("Edit", "Edit", new { tripId = item.Id }) + " | " +
                Html.ActionLink("Details", "Details", new { tripId = item.Id }))
        ),
        grid.Column("Id", "Trip Id"),
        grid.Column("ProgramCode", "Program"),
        grid.Column("TripNumber", "Trip Number"), @* Reformat this to ABC / 10-01 ? *@
        grid.Column("Observer", "Observer"),
        grid.Column("Vessel", "Vessel"),
        grid.Column("DeparturePort", "Port of Departure"),
        grid.Column("DepartureDate", "Departure Date"),
        grid.Column("ReturnPort", "Port of Return"),
        grid.Column("ReturnDate", "Return Date")
    ))
</div>

@{ if (ViewBag.HasPrevious)
   {
       @Html.ActionLink("<<", "Index", new { page = (ViewBag.CurrentPage - 1) })    
   }   
}

@{ if (ViewBag.HasNext)
   {
       @Html.ActionLink(">>", "Index", new { page = (ViewBag.CurrentPage + 1) })    
   }    
}