@model TubsWeb.ViewModels.LengthFrequencyViewModel

<div class="row">
    <div class="span1">
        <label><strong>Full</strong></label>
        @Html.DisplayFor(m => m.FullBrailCount)
    </div>
    <div class="span1">
        <label><strong>7/8</strong></label>
        @Html.DisplayFor(m => m.SevenEighthsBrailCount)
    </div>
    <div class="span1">
        <label><strong>3/4</strong></label>
        @Html.DisplayFor(m => m.ThreeQuartersBrailCount)
    </div>
    <div class="span1">
        <label><strong>2/3</strong></label>
        @Html.DisplayFor(m => m.TwoThirdsBrailCount)
    </div>
    <div class="span1">
        <label><strong>1/2</strong></label>
        @Html.DisplayFor(m => m.OneHalfBrailCount)
    </div>
    <div class="span1">
        <label><strong>1/3</strong></label>
        @Html.DisplayFor(m => m.OneThirdBrailCount)
    </div>
    <div class="span1">
        <label><strong>1/4</strong></label>
        @Html.DisplayFor(m => m.OneQuarterBrailCount)
    </div>
    <div class="span1">
        <label><strong>1/8</strong></label>
        @Html.DisplayFor(m => m.OneEighthBrailCount)
    </div>
    <div class="span1">
        <label><strong>Total</strong></label>
        @Html.DisplayFor(m => m.TotalBrails)
    </div>
    <div class="span1">
        <label><strong>Sum</strong></label>
        @Html.DisplayFor(m => m.SumOfAllBrails, new { format = "F2" })
    </div>
</div>

<hr />

@* TODO: Split this into separate partial.  Don't display entire partial if no brails *@
<p>
    Brail fullness and samples per brail.  Written as (fullness code) / (samples).
</p>

@*
 * Slice the up-to-30 brails into 6 columns of 5 values.
 * This is the most compact form that will also respect tab order
 *@
@* TODO: After implementing, use same techniques on _Samples partial *@
@* NOTE: Could probably make this more dynamic by using modulo 5 and a for loop *@
<div class="row">
    <div class="span2">
        <ol class="dense">
            <li><span>1</span> 1 / 5</li>
            <li><span>2</span> 1 / 5</li>
            <li>8 / 5</li>
            <li>5</li>
            <li>5</li>
        </ol>
    </div>
    <div class="span2">
    @if (Model.Brails.Count > 5)
    { 
        <ol>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
        </ol>   
    }
    </div>
    <div class="span2">
    @if (Model.Brails.Count > 10)
    { 
        <ol>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
        </ol>   
    }
    </div>
    <div class="span2">
    @if (Model.Brails.Count > 15)
    { 
        <ol>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
        </ol>   
    }
    </div>
    <div class="span2">
    @if (Model.Brails.Count > 20)
    { 
        <ol>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
        </ol>   
    }
    </div>
    <div class="span2">
    @if (Model.Brails.Count > 25)
    { 
        <ol>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
            <li>5</li>
        </ol>   
    }
    </div>
</div>