@model TubsWeb.ViewModels.TripSamplingViewModel

@{
    ViewBag.Title = String.Format("{0}: All PS-4 Forms", Model.TripNumber);
}

@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create("#", "All PS-4 Forms")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Page</th>
            <th>Set #</th>
            <th>Set Date</th> @* No set# on PS-4 form, so Nabila has asked for set date here for navigation assistance *@
            <th>Samples</th>
            <th>Sample Type</th>
            <th>Columns</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var header in Model.Headers)
    {
        var detailTarget = "#"; //Url.RouteUrl(TubsWeb.RouteConfig.Sets, new { tripId = ViewBag.TripId, setNumber = set.SetNumber, action = "Index" });
        var editTarget = "#";
        
        <tr>
            <td>
                <a href="@detailTarget"><i class="icon-list-alt icon-large" title="Details" rel="tooltip"></i></a>
                @if(!ViewBag.IsReadOnly)
                {
                    <text> | </text><a href="@editTarget"><i class="icon-edit icon-large" title="Edit" rel="tooltip"></i></a> 
                }
            </td>
            <td>@header.PageNumber</td>
            <td>@header.SetNumber</td>
            <td>@Html.DisplayFor(i => header.SetDate, new { format = "dd/MM/yy HHmm"})</td>
            @* SampleCount links to all *@
            <td>@header.SampleCount</td>
            <td>@header.SampleType</td>
            <td>
            @{
                // What would be great would be to be able to set the column size at something other than compile time
                // Office staff could enter 40 at a time while onboard staff might want as few as 10.
                int columnCount = header.SampleCount / 20;
                if (header.SampleCount % 20 > 0)
                {
                    columnCount++;
                }
                // Need better way to add the visual separator...
                for (int i = 1; i <= columnCount; i++)
                {
                    if (i > 1)
                    {
                        <text> | </text>
                    }
                    @: <a href="#">@(20 * i)</a>
                }
            }
            </td>
            @*
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            *@
        </tr>
    }
    </tbody>
</table>




<a href="#" id="addPositionButton" class="btn btn-info addItem"><i class="icon-plus-sign icon-white"></i> Add PS-4</a>