@model Object

@{ ViewData.TemplateInfo.HtmlFieldPrefix = String.Empty; }

@{
    string propName = ViewData.ModelMetadata.PropertyName;
    string displayName = ViewData.ModelMetadata.DisplayName;
    string labelText = displayName ?? propName;
    string idValue = ViewData["id"] as string;
    string classValue = ViewData["class"] as string;

    if (null == idValue)
    {
        idValue = String.Format("id=\"{0}\" ", propName);
    } 
    else 
    {
        idValue = String.Format("id=\"{0}\" ", idValue);
    }
    
    if (null == classValue)
    {
        classValue = String.Empty;
    } else {
        classValue = String.Format("class=\"{0}\" ", classValue);
    }
}

<div class="control-group">
    <label class="control-label" for="@propName">@labelText</label>
    <div class="controls">
        <input type="text" name="@propName" value="@Model" @Html.Raw(@idValue) @Html.Raw(@classValue) />
        <span class="help-inline" data-valmsg-for="@propName" data-valmsg-replace="true"></span>
    </div>
</div>