@model TubsWeb.ViewModels.CrewViewModel.CrewMemberModel
@using Spc.Ofp.Tubs.DAL.Common

@*
   The trick for fixing field prefixes comes from here:
   http://davybrion.com/blog/2011/01/prefixing-input-elements-of-partial-views-with-asp-net-mvc/

   The author writes a long, involved bit of code, at which point a commenter points out that
   setting HtmlFieldPrefix does the same thing.
*@

@{ ViewData.TemplateInfo.HtmlFieldPrefix = String.Empty; }

<td>
    @Html.HiddenFor(m => Model.Id)
    @Html.HiddenFor(m => Model.Job)
    @Model.Job.GetDescription()
</td>
<td>@Html.TextBoxFor(m => Model.Name, new { style = "width: 95%" })</td>
<td>
    @Html.TextBoxFor(m => Model.Years, new { style = "width: 40px;", maxlength = 2, @class="autotab" })
</td>
<td>@Html.TextBoxFor(m => Model.Nationality, new { style = "width: 40px;", @class="autotab", maxlength = 2 })</td>
<td>@Html.TextBoxFor(m => Model.Comments, new { style = "width: 95%" })</td>
<td>
    <p>
        <input type="submit" name="Save" value="Save" class="btn btn-primary" />
        <!-- Prevent the reset button from being tab navigable -->
        <input type="reset" name="Cancel" tabindex="31000" class="btn" />
    </p>
</td>